%tr.nested-fields
  %td= f.association :from_city, label: false, include_blank: false, prompt: 'Select From City'
  %td= f.association :to_city, label: false, include_blank: false,  prompt: 'Select To City'
  %td= f.input :distance, label: false
  %td= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-mini'
