=simple_form_for @route, url: wizard_path do |f|
  - bootstrap_table headers:['From', 'To','Distance', ''], types: [:bordered, :condensed], html_options: {id: 'connections'} do
    = f.simple_fields_for :connections, wrapper: false do |connection|
      = render 'routes/builder/connection_fields', f: connection
  .links
    = link_to_add_association 'Add Connection', f, :connections, data: {association_insertion_node: 'tbody', association_insertion_method: 'append'}
  %br
  = f.submit

