= content_for(:title) do
  Priority Pricing
.page-header
  %h2 Priority Pricing
  %h4 These discounts will override the current passenger discount when the booking falls in between the period from and period to dates. Eg Senior Citizen will have 0% added rather than the standard 10%

= link_to 'Setup Priority Pricing', new_seasonal_discount_path, class: t('buttons.primary'), icon: :plus
%br
%br

- bootstrap_table headers: ['Actions', 'Name', 'Passenger Type', 'Percentage', 'Period From', 'Period To', 'Active'], types: %i(hover condensed), html_options: { class: 'sortable' } do
  = render @seasonal_discounts, cache: true

= link_to 'Setup Priority  Pricing', new_seasonal_discount_path, class: t('buttons.primary'), icon: :plus


