= paginate archived_trips
- bootstrap_table headers: ['Actions', 'Name', 'Start Date', 'End Date', 'Route', 'Bus'], types: %i(hover condensed), html_options: { class: 'sortable' } do
  = render partial: 'archived_trip', collection: archived_trips, as: :trip, cache: true
= paginate archived_trips