= paginate @trips

- bootstrap_table headers:['Name','Day of Week','Start Date','End Date','Route','Bus','Created At', 'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  = render @trips, cache: true

= paginate @trips