<tr>
  <td>
    <%= connection.name %>
  </td>
  <td>
    <%= number_to_human(connection.distance, units: :distance) %>
  </td>
  <td>
    <%=  number_to_percentage(connection.percentage, precision: 0) %>
  </td>
  <td>
    <%= number_to_currency(connection.cost) %>
  </td>
</tr>
