%tr
  %td= connection.name
  %td= number_to_human(connection.distance, units: :distance)
  %td= number_to_percentage(connection.percentage, precision: 0)
  %td= number_to_currency(connection.cost, unit: 'R')
