<% connection_decorator = decorate(connection) %>
<tr>
  <td>
    <%= connection_decorator.name %>
  </td>
  <td>
    <%= connection_decorator.distance %>
  </td>
  <td>
    <%= connection_decorator.percentage %>
  </td>
  <td>
    <%= connection_decorator.cost %>
  </td>
</tr>
