.modal.hide.fade#notes{ aria_hidden:  'true', aria_labelledby: 'notesLabel', role: 'dialog', tabindex: '-1' }
  .modal-header
    %button.close{ aria_hidden: 'true', data: { dismiss: 'modal' }, type: 'button' } ×
    %h4#notesLabel Notes
    .modal-body
      .note_form
        = render 'notes/form', note: @new_note if current_user.admin?
      .well
        %ul.notes
          - @notes.each do |note|
            %li{ class: dom_class(note), id: dom_id(note) }= link_to_if(current_user.admin?, note.content, edit_note_path(note), remote: true)
