#notes.modal.hide.fade{aria_hidden:  'true', aria_labelledby: 'notesLabel', role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{aria_hidden: "true", data: {dismiss: "modal"}, type: "button"} ×
    %h4#notesLabel Notes
    .modal-body
      = render 'notes/form' if current_user.admin?
      %ul.notes
        - @notes.each do |note|
          %li=note.content
