<% cache note do %>
    <%= content_tag_for :div, note do %>
      <p>
       <strong>
         <%= note.content %>
       </strong>
        <br>
        <% if current_user.admin? %>
            <small>
              <%= link_to note, method: :delete, remote: true do  %>
                  <% fa_icon :times, text: 'Remove' %>
              <% end %>
            </small>
        <% end %>
      </p>
    <% end %>
<% end %>