
    <h6>Ticket Price:</h6>
    <p><%= number_to_currency pricing.price, unit: 'R' %></p>
    <h6>Discounts</h6>
    <% pricing.discount_prices.each do |key, value| %>
      <ul class='list-unstyled'>
        <li><%= "#{key.to_s.humanize}: #{number_to_currency(value, unit: 'R')}" %></li>
      </ul>
    <% end %>
    <h6>Charges</h6>
    <% pricing.charges.each do |key, value| %>
      <ul class='list-unstyled'>
        <li><%= "#{key.to_s.humanize}: #{number_to_currency(value, unit: 'R')}" %></li>
      </ul>
    <% end %>
