= content_for(:title) do
  Quick quote
- content_for :sidebar do
  %h3 Quick Quote
  .connection-finder
    = simple_form_for :q do |f|
      = f.input :route, collection: Route.all, as: :radio_buttons, item_wrapper_class: 'inline', label: 'Select a route'
    %h5 Connections
    %input{type: 'text', required: true, placeholder: 'Search Connections', id: 'connection-search'}/
    .connections
      %ul.unstyled#connections-list
        - @connections.each do |connection|
          %li{class: dom_class(connection), id: dom_id(connection), data: { route: connection.route_id } }= link_to connection.name, pricing_path(connection), id: 'show_pricing', data: { type: :html }, remote: true
.quote
  = render 'pricing/quote', pricing: @pricing








