= paginate trips, remote: true
= bootstrap_table headers: ['Actions', 'Name', 'Start Date', 'End Date', 'Route', 'Bus'], types: %i(hover condensed), html_options: { class: 'sortable' } do
  = render partial: 'trip', collection: trips, as: :trip, cache: true
= paginate trips