= paginate bookings, param_name: "#{type}_page"
- if bookings.any?
  - bootstrap_table headers: ['Expires', 'Client Name', 'Home No', 'Cell No', 'Work No', 'Trip Date', 'Qty', 'From', 'To', 'Actions'],
                    types: %i(hover condensed bordered), html_options: { class: 'sortable' } do
    = render bookings, cache: true
- else
  %h3 There are currently 0 #{type} bookings.
