= simple_form_for :q, url: bookings_path ,defaults: { label: false, required: false }, html: {method: :get, class: 'form-inline'} do |f|
  = f.input :reference_no_or_status_or_trip_name_or_client_name_or_client_surname_or_passengers_name_or_passengers_surname_cont, placeholder: 'Reference No'
  = f.submit 'Search', class: 'btn btn-primary'
