.text-center= link_to 'Print', print_daily_bookings_path(format: :pdf), class: t('buttons.primary')
%br

= render :partial => 'daily_bookings'


.text-center= link_to 'Print', print_daily_bookings_path(format: :pdf), class: t('buttons.primary')


