<div class="well well-small" id="notes">
  <h5>Notes</h5>
  <ul class="notes-list">
    <%= render notes %>
  </ul>
  <% if current_user.admin? %>
      <div class="note-form">
        <%= render 'notes/form' %>
      </div>
  <% end %>
</div>
