- cache CacheHelper.cache_key_for_collection(@decorated_clients.collection) do
  - bootstrap_table headers:['Name', 'Surname', 'High Risk','Home Telephone', 'Work Telephone','CellPhone','Email','Last Modified','Actions'], types: [:bordered, :striped, :condensed], html_options: {id: 'clients_table',class: 'sortable'} do
    = render partial: 'client', collection: @decorated_clients, cache: true
  %br
  = paginate @decorated_clients
