#client_contact_detail.modal.hide.fade{aria_hidden:  'true', aria_labelledby: 'clientContactDetailLabel', role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{aria_hidden: "true", data: {dismiss: "modal"}, type: "button"} ×
    %h3#clientContactDetailLabel= @client.full_name
    .modal-body
      %p
        %strong Telephone No:
        %br
        = @client.telephone
      %p
        %strong Cellphone No:
        %br
        = @client.cellphone
      %p
        %strong Email:
        %br
        = @client.email