%tr.nested-fields
  %td= f.object.connection.from.name
  %td= f.object.connection.to.name
  %td= f.input :arrive, as: :date_time_picker, label: false
  %td= f.input :depart, as: :date_time_picker, label: false


