<%= bootstrap_table headers: ['Payment Date', 'Customer Payment Reference', 'Payment Type'], types: [:condensed] do %>
    <tr>
      <td>
        <%= time_tag(payment_detail.paid_at) %>
      </td>
      <td>
        <%= payment_detail.reference %>
      </td>
      <td>
        <%= payment_detail.payment_type %>
      </td>
    </tr>
<% end %>
