= bootstrap_table headers: ['Payment Date', 'Customer Payment Reference', 'Payment Type'], types: [:condensed] do
  %tr
    %td= l(payment_detail.payment_date, format: :long)
    %td= payment_detail.reference
    %td= payment_detail.payment_type