<p>
 <strong>Payment Date:</strong>
 <%= time_tag(payment_detail.paid_at) %>
</p>
<p>
 <strong>Payment Reference:</strong>
 <%= payment_detail.reference %>
</p>
<p>
 <strong>Payment Type:</strong>
  <%= payment_detail.payment_type %>
</p>

