<p>
  <strong>1 Tickets</strong>
  1 .1 All tickets are issued in accordance with The carrier's conditions of conveyance.
  1 .2 Tickets are non» transferable and are only valid for the date stipulated thereon.
  1 .3 IT remains The responsibility of the owner Thereof to ensure that all pertinent information is correctly
  recorded on The Ticket.
  1 .4 Passengers are not allowed to break Their journey, unless separate tickets are issued with the
  appropriate Tariff for each journey.
  1 .5 Any alterations To The ‘Ticket will render some invalid, and any changes will require The issue of a
  replacement ticket by The carrier or its appointed agent.
  <strong>2. Cancellations</strong>
  PLEASE NOTE - No cancellations, alterations. or changers.
  No refunds will be made to tickets after payments have been made
  <strong>3. Departure Time</strong>
  3.1 Passengers are requested to be at The departure point 30 minutes before The scheduled
  departure Time.
  3.2 Any seat not occupied 5 minutes prior to The scheduled Time of departure will be offered to
  stand-by passengers on a first come first served basis at The appropriate rate.
  <strong>4. Passengers Luggage</strong>
  4.1 Each fare paying passenger is allowed to take, free of charge at own risk personal luggage not
  exceeding 20kg in mass or 80cm x60cmx30cm as volumetric equivalent.
  4.2 The carrier reserves the right to refuse carriage of luggage which does not comply with These
  parameters.
  4.3 Large items must be carried in the luggage compartment/Trailer and must be loaded by The
  carriers agent.
  4.4 Passengers are not allowed to load / offload luggage by themselves.
  4.5 Unaccompanied luggage will not be permitted.
  4.6 The carrier will not accept liability for loss or damage to passengers luggage and personal effects
  4.7 The carrier does not provide general insurance cover, therefore all passengers are to ensure that
  they are adequately insured. A
  <strong>5. General</strong>
  5.1 Smoking is prohibited on all buses.
  5.2 Consumption of alcohol on the buses will not be permitted.
  5.3 No animals/ pets will be conveyed.
  5.4 Unaccompanied children under the age of 12, will not be conveyed.
  5.5 The carrier will endeavour to abide by the published time schedule. but these times may be
  effected by road, Traffic, weather and other conditions beyond The control of the carrier.
  Therefore the carrier will not accept liability for any costs incurred due to the failure to keep to the afore
  mentioned schedule.
  5.6 The carrier also reserves the right to refuse to undertake, to convey or continue to convey any
  passengers
  5.7 The carrier also reserves the right to revise seat allocations without notice and to operate
  substitute vehicles of a different standard to ensure that services are continued.
  5.8 Passengers are not permitted to travel on the vehicles between depots and terminal points.
  5.9 All tariffs and schedules are subjected to change without prior notice.
  <strong>6. Exclusion of Liability</strong>
  6.1 Details available on request.
</p>
