- bootstrap_table headers:['Drivers', 'From','Time','O/Reading', 'To', 'Time', 'O/Reading', 'Depot', 'R', 'L', 'O/Reading', 'R/KM' ], types: [:bordered] do
  - 10.times do
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td