<%= content_for(:title) do %>
    Add Tripsheet Notes
<% end %>
<div class="page-header">
  <h2>TripSheet Notes</h2>
  <h4>Add additional notes for the trip sheet here</h4>
</div>
<%= simple_form_for @trip, url: trip_sheet_path do |f| %>

    <%= f.input :notes, label: false, as: :text, input_html: { class: 'input-lg', rows: 20, style: 'width: 100%;' }, autofocus: true %>
    <%= f.button :submit, class: 'btn btn-success'  %>
<% end %>
