.hero-unit.text-center
  %h1
    Forbidden
    %small
      %font{color: "red", face: "Tahoma"} Error 403
  %br/
  %p
    You are not authorized to perform this action. Use your browsers
    %b Back
    button or click #{link_to 'here', :back} to navigate back to the page you came from.
  %p
    %b Or you could just press this button to go to the home page:
  = link_to 'Home', root_path, icon: 'icon-home icon-white', class: 'btn btn-primary btn-large'
