<div class="hero-unit text-center">
  <h1>
    You are not authorized to perform this action.
  </h1>
  <br/>
  <p>
    Use your browsers
    <b>Back</b>
    button or click <%= link_to 'here', :back %> to navigate back to the page you came from.
  </p>
  <p>
    <b>Or you could just press this button to go to the home page:</b>
  </p>
  <%= link_to 'Home', root_path, icon: :home, class: t('buttons.large.primary') %>
</div>
