%tr[discount]
  %td= discount.passenger_type
  %td= discount.percentage
  %td
    = link_to 'Edit', edit_discount_path(discount), icon: :edit, class: t('buttons.mini.inverse')
    = link_to 'Destroy', discount, icon: :times, data: { confirm: t('messages.confirm', resource: :discount)}, method: :delete, class: t('buttons.mini.danger')



