<%= content_for(:title) do %>
    Edit <%= @discount.passenger_type.description %>
<% end %>
<div class="page-header">
  <h2>Edit Discount</h2>
</div>
<div id="errors">
  <%= errors_for @discount %>
</div>
<%= render 'form' %>
