<tr class="nested-fields">
  <td>
    <%= f.association :city, label: false, prompt: 'Select a city' %>
  </td>
  <td>
    <%= f.input :sequence, label: false, input_html: { class: 'input-mini' } %>
  </td>
  <td>
    <%= link_to_remove_association  f, class: 'btn btn-mini btn-danger' do %>
      <%= fa_icon :times, text: 'Remove'%>
    <% end %>
  </td>
</tr>
