<tr class="nested-fields">
  <td>
     <%= f.association :city, collection: cities, label: false, autofocus: true, input_html: {  data: { behaviour: 'dropdown', placeholder: 'Select from city' } }  %>
  </td>
  <td>
    <%= f.input :sequence, label: false, input_html: { class: 'input-sm' } %>
  </td>
  <td>
    <%= link_to_remove_association  f, class: 'btn btn-sm btn-danger' do %>
      <%= fa_icon :times, text: 'Remove'%>
    <% end %>
  </td>
</tr>
