%h2 Routes

- bootstrap_table headers:['Description','Start City', 'End City','Cost', 'Distance','Connections', 'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  = render @routes

= link_to 'Setup Route', route_builder_index_path(route_id: :building), method: :post, icon: 'icon-plus', class: 'btn btn-primary'