%h2 Drivers
- bootstrap_table headers:['Name', 'Surname', 'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  = render @drivers

= link_to 'Setup Driver', new_driver_path, class: 'btn btn-primary',icon: 'icon-plus'

