<tr class="nested-fields">
  <td>
    <%= f.input_field :name, placeholder: 'Name', class: 'input-large' %>
  </td>
  <td>
    <%= link_to_remove_association 'Remove', f, class: t('buttons.mini.danger') %>
  </td>
</tr>
