<tr class="destination nested_fields <%= 'disable-sort-item' unless f.object.new_record? %>">
  <% if f.object.new_record? %>
     <td><%= f.association :city, label: false, prompt: 'Select a city' %></td>
  <% else %>
    <td><%= f.object.city.name %></td>
  <% end %>
  <td><%= f.input :sequence, label: false, readonly: true, input_html: { class: 'input-sm' } %></td>
</tr>
