@import "bootswatch/cerulean/variables";

@import "bootstrap";
body {
  padding-top: 60px;
  font-size: 8px;
}
@import 'bootstrap-responsive';

@import "bootswatch/cerulean/bootswatch";

.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}


#brake{page-break-after: always;}





