@import "bootstrap-sprockets";

@import "bootswatch/cerulean/variables";

@import "bootstrap";

body {
  padding-top: 60px;
  font-size: 8px;
}

@import "bootswatch/cerulean/bootswatch";

.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid; }
