<div class="page-header">
  <h2>Reports</h2>
</div>
<ul class="list-unstyled">
  <% @reports.each do |report| %>
    <li>
      <%= report.name %>
      <%= link_to 'Show', report %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add Report', new_report_path %>
