.page-header
  %h1 Reports

%bookings_per_status
  %h4 Booking per Status
  = pie_chart reports_bookings_per_status_path

%income_per_month
  %h4 Total Income per Month
  = column_chart reports_income_per_month_path, stacked: true

%bookings_per_user
  %h4 Bookings per user for #{Time.zone.now.strftime('%B')}
  = bar_chart reports_bookings_per_user_path



