%tr[charge]
  %td= charge.description
  %td= decimal_to_percentage(charge.percentage)
  %td
    = link_to 'Edit', edit_charge_path(charge), icon: :edit, class: t('buttons.mini.inverse')
    = link_to 'Destroy', charge, icon: :times, data: { confirm: t('messages.confirm', resource: :charge)}, method: :delete, class: t('buttons.mini.danger')



