<%= content_for(:title) do %>
    Edit <%= @charge.description %>
<% end %>
<div class="page-header">
  <h2>Edit Charge</h2>
</div>
<div id="errors">
  <%= errors_for @charge %>
</div>
<%= render 'form' %>

