<ul class="nav pull-right">
  <li>
    <%= link_to 'Contact Us', new_contacts_path %>
  </li>
  <li>
    <%= link_to 'About', page_path('about') %>
  </li>
  <li>
    <%= link_to 'Terms of Service', page_path('terms') %>
  </li>
</ul>
